
html{
	height: 100%;
}
body{
	height: 100%;
}

.panel{
	height:97%;
}

#loginBtn{
	background-color: #aaefef;
}


#loginForm{
	vertical-align: top;
	margin: 0;
	border: 0;
	padding: 0;
	text-align: right;
}
input {
	min-height: 100%;
	width: 10%;
	font-size: 100%;
}

